#page_wrapper.blog_content_wrapper
  %h4 Journal
  .blog_content
    .left_column
      .blog_title
        %h1= @blog.name
      .blog_tagline.mono
        %p= @blog.tagline
      .blog_date.mono
        %p
          = @blog.created_at.strftime("#{@blog.created_at.day.ordinalize} %B %Y")
    .main
      .banner
        = image_tag @blog.main_image
      .blog_content
        = raw @blog.body

    .right_column.mono
      = link_to 'Overview', blogs_path
      = link_to 'Next', @blog.next_blog if @blog.next_blog
      = link_to 'Last', @blog.previous_blog if @blog.previous_blog