= render 'title'
#plays_container
  - 4.times do
    - @plays.sort_by { rand }.each do |play|
      .play_teaser{style: "padding-top: #{rand()*200}px"}
        .play_teaser_inner
          = link_to play do
            = image_tag(play.teaser_image)
            %h3= play.name
            %p.mono= play.tagline
