= render 'title'
#play_content_wrapper
  .show_play_teaser
    .play_teaser_image
      = link_to image_tag(@play.teaser_image), @play
    %h3= @play.name
    %p.mono= @play.tagline

  .banner
    = image_tag @play.main_image
  .play_body
    = raw @play.body
