- provide :body_classes, 'about_page'

#page_wrapper.about_page_wrapper
  #about_main_section.page_content

    .left_column
      .how_we_work
        %h3 How we work
        %ul
          %li Design with heart

      .who_we_are
        %h3 Who we are
        %ul
          %li est. 2015

    .main
      #about_body
        %h1 <span class="emphasis">Good design</span> makes things work.

        %p.no_margin
          As a design studio, Joyce of all Trades believes effective communication is a key ingredient for any thriving enterprise. It’s simple – you have something amazing that the world needs to know about and we can help you with that. We offer solutions that captivate the imagination, clearly communicate your vision and are consistent across all media. We care about uncovering your unique voice and using it to tell your story in the most engaging way. As we said, it works!
        %p.no_margin
          Joyce of all Trades is a Norwich-based studio, founded by Joyce in 2015 following her graduation from
          = link_to 'Norwich University of the Arts', 'http://www.nua.ac.uk/'
          \. Joyce has a degree in Graphic Design, specialising in Design for Publishing and has worked extensively with a wide range of industries since. She collaborates closely with a like-minded group of creative professionals, offering decades of experience combined with a fresh approach. Together the studio has worked with clients from academia, lifestyle brands, financial services, charities and several up and coming entrepreneurs. 
        %p.no_margin
          Want to know more? Check out our past
          = link_to 'projects', projects_path
          or 
          = link_to 'get in touch', new_enquiry_path
          to find out what we can do for you.


    .right_column
      .right_column_item
        %h3 Clients
        %ul
          %li AGEAS
          %li Artel Store
          %li NUA
          %li Soul Church
      .right_column_item
        %h3 Friends
        %ul
          %li CD2
          %li Laurel Pettitt
          %li Christian S Harrop
          %li Karim Skalli
          %li Fosten Doc
      .right_column_item
        %h3 Contact
        %ul
          %li email
          %li instagram
          %li Karim Skalli
          %li Fosten Doc
  #about_service_section.page_content
    .left_column
      .what_we_do
        %h3 What we do
        %ul
          %li est. 2015

    .main
      #about_services
        = link_to 'Graphic Design', 'javascript: void 0;', data: {tab_head: 'graphic_design'}
        = link_to 'Image Making', 'javascript: void 0;', data: {tab_head: 'image_making'}
        = link_to 'Art Direction', 'javascript: void 0;', data: {tab_head: 'art_direction'}

    .right_column{data: {tab_content: 'graphic_design'}}
      %h3 Graphic Design
      %p We design websites, print publications and visual identities that will help your brand to leave a memorable mark. We will help you make your brand come alive.

    .right_column{data: {tab_content: 'image_making'}}
      %h3 Image Making
      %p We deliver illustrations that can work within your context or as a stand alone piece. We love to create bespoke imagery and textures for the projects that we work on, be it editorial or infographics.

    .right_column{data: {tab_content: 'art_direction'}}
      %h3 Art Direction
      %p Photography and film are powerful ways to tell your story and/or define the voice of your brand. We collaborate with photographers and videographers to bring your vision to life creatively.
